<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/main.css}" rel="stylesheet" />
	<title>Sign Up</title>
</head>

<body>
	<div class="wrapper fadeInDown">
		<div id="formContent">

			<h2 class="active">sign up</h2>
			 
			<form action="#" th:action="@{/login}" th:object="${credential}" method="post">
				<p>User ID: <input type="text" th:field="*{userId}" /></p>
				<span th:if="${#fields.hasErrors('userId')}" class="error" th:errors="*{userId}"></span>				
				<p>Password: <input type="password" th:field="*{password}" /></p>
				<span th:if="${#fields.hasErrors('password')}" class="error" th:errors="*{password}"></span>				
				<p><input type="submit" value="Submit" /> </p>
			</form>
		</div>
	</div>
</body>

</html>