<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/main.css}" rel="stylesheet" />
	<title>Thanks</title>
</head>

<body>
	<div class="wrapper">
		<div id="welcome">
			<div id="welcomeMessage">
				<div id="thanks">
					<span th:utext="${userid} + ', you are logged in. Please continue.'" />
				</div>
			</div>

		</div>
	</div>
</body>

</html>